#feeds { font-family: 'lucida grande', sans-serif; font-size: 12px; }

.tmi-feed {  width: 200px; float: left; margin-right: 10px; }
#feeds ul { list-style-type: none; padding-left: 0px; }

#feeds ul li { padding: 5px 0px; }
  #feeds span { display: block; }
  #feeds img { border: 1px solid; }
  span.annotation { padding-top: 3px; font-style: italic; }
  span.timestamp { font-size: 75%; padding-top: 3px; }
  .timestamp a { color: gray; text-decoration: none; }
    .timestamp a:hover { text-decoration: underline; }
