div#feeds {
  font-family: helvetica,sans-serif;
  font-size: 12px;
  padding-left: 15px;
}

#feeds ul {
  list-style: none;
  padding-left: 0px;
}

#feeds ul li {
  padding: 5px 0px;
}

  #feeds ul li span {
    display: block;
  }

  #feeds ul li span.annotation {
    font-size: 85%;
    padding: 3px 0px;
    font-style: italic;
  }

  #feeds ul li span.timestamp {
    font-size: 75%;
  }
